@import "common";

div.infobox {
	a.addmemo {
		background-color: #333;
	}
}

/* 日曜日 */
.fc-sun {
	color: red;
	background-color: darken(@brand-warning, -30%);
/*	background-color:#eec;*/
}

/* 土曜日 */
.fc-sat {
	color: blue;
	background-color: darken(@brand-success, -40%);
/*	background-color:#eee;*/
}