@import "common";

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Meiryo UI", "メイリオ";
	margin-bottom: 30px;
}

p.gotop{
	position: fixed;
	right: 0px;
	top: 200px;
	background-color: rgba(232,232,255,0.6);
	text-align: center;
	.border-radius-left(8px);
	z-index: 10000;
	a {
		width: 3em;
		height: 3em;
		display: block;
		line-height: 3em;
	}
}

div.infobox {
	margin: 0;
	padding: 2px;
	line-height: 2em;
	text-align: center;
	a {
		.border-radius(4px);
		background-color: rgb(154, 210, 104);
		color: #fff;
		display: block;
		text-decoration: none;
		&:hover {
			background-color: darken(rgb(154, 210, 104),30%);
//			#gradient > .vertical(@start-color: #ddd; @end-color: #ccc; @start-percent: 0%; @end-percent: 100%);
		}
	}
	a.active {
		background-color: darken(rgb(154, 210, 104), 20%);
	}
}
//div.infobox {
//	margin: 2px;
//	padding: 0;
//	line-height: 2em;
//	text-align: center;
//	.border-radius(4px);
//	background-color: rgb(154, 210, 104);
//	a {
//		color: #fff;
//		display: block;
//		text-decoration: none;
//		&:hover {
//			#gradient > .vertical(@start-color: #ddd; @end-color: #ccc; @start-percent: 0%; @end-percent: 100%);
//		}
//	}
//}

/* view */
.view dd,
.view dt {
	line-height: 1.7em;
	border-bottom: 1px solid #eee;
}

.nopadding {
	padding: 0!important;
}

/* widget */
div.widget {
	border: 1px solid #CDCDCD;
	background: none repeat scroll 0 0 #fafafa;
	.border-radius(6px);
//	clear: both;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	padding:0;
	margin: 0.5em 0;
//	margin-top:1em;
//	margin-bottom:1em;
//	margin: 1em 0.5em;
	position: relative;
	i {
		font-size: 12px;
	}
	.actions i {
		cursor: pointer;
	}
//		float: left;
	.widget-header {
		height: @widget-header-height;
		background-color: #fafafa;
		padding:0;
		#gradient > .vertical(@start-color: #fafafa; @end-color: #f2f2f2; @start-percent: 0%; @end-percent: 100%);
		border-bottom: 1px solid #CDCDCD;
		box-shadow: 0 1px 0 #ffffff inset;
//		.box-shadow( 0; 1px; 0; #ffffff);
//		-webkit-box-shadow: 0 1px 0 #ffffff inset;
		.border-radius-top(6px);
		.icon {
//			padding: 8px 10px 8px 11px;
//			margin: auto 1em;
			text-align: center;
			width: @widget-header-height;
//			padding-right: 1em;
			line-height: @widget-header-height;
			border-right: 1px solid #cdcdcd;
			box-shadow: 1px 0 0 0 #ffffff;
		}
		.actions {
//			width:100%;
			line-height: @widget-header-height;
			float: right;
			margin-right: 0.5em;
		}
		span.title {
			font-weight: bold;
		}
		input[type="checkbox"] {
			vertical-align: -2px;
//			vertical-align: middle;
//			margin:0;
		}
	}
	.widget-content {
		padding :0.5em;
		box-shadow: 0 1px 0 #ffffff inset;
	}
}